html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#091a49;
}
td,th,p,h1,a,dt,h4,dd,label{
    color: white;
    font-family: Arial;
}
dl
{
    color:aquamarine;
}
img{
    max-height: 350px;
    border: 4px dotted white;
}
